{{page-title 'Shopping Cart'}}
<h1>Shopping Cart</h1>
<!-- This example requires Tailwind CSS v2.0+ -->
<nav class='flex' aria-label='Breadcrumb' class='mt-4'>
  <ol role='list' class='flex items-center space-x-4'>
    <li>
      <div>
        <LinkTo @route='index' class='text-gray-400 hover:text-gray-500'>
          <!-- Heroicon name: solid/home -->
          <svg
            class='flex-shrink-0 h-5 w-5'
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 20 20'
            fill='currentColor'
            aria-hidden='true'
          >
            <path
              d='M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z'
            ></path>
          </svg>
          <span class='sr-only'>Home</span>
        </LinkTo>
      </div>
    </li>

    <li>
      <div class='flex items-center'>
        <!-- Heroicon name: solid/chevron-right -->
        <svg
          class='flex-shrink-0 h-5 w-5 text-gray-400'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          aria-hidden='true'
        >
          <path
            fill-rule='evenodd'
            d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
            clip-rule='evenodd'
          ></path>
        </svg>
        <span class='ml-4 text-sm font-medium'>Shopping Cart</span>
      </div>
    </li>
  </ol>
</nav>
<section class='text-right grid gap-2 grid-cols-summary mt-4 justify-end'>
  <span>Subtotal</span>
  <span>{{this.subtotal}}</span>
  <span>Tax</span>
  <span>{{this.tax}}</span>
  <span>Total</span>
  <span>{{this.total}}</span>
</section>
<div class='flex justify-end mt-8'>
  <button
    type='button'
    class='inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'
  >Checkout</button>
</div>